#digitalClock {
  font-family: 'Ubuntu', monospace;
  font-size: 2em;
  text-align: center;
}

/* .u-accordion-pane {
   max-height: 0; 
  overflow: hidden;
  transition: max-height 0.5s ease-out;
} */


/* .u-accordion-link {
  cursor: pointer;
  transition: color 0.3s ease;
} */

.u-accordion-link:hover {
  color: lightblue;
} 



 
 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 682px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 74deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-1 .u-accordion-1 {
  margin-bottom: 46px;
  margin-top: 20px;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-1 {
  height: 17px;
  width: 17px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 100px;
  background-image: none;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 12px;
}

.u-section-1 .u-text-2 {
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-2 {
  height: 17px;
  width: 17px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 100px;
  background-image: none;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-3 {
  height: 17px;
  width: 17px;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 100px;
  background-image: none;
  height: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-4 {
  height: 17px;
  width: 17px;
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 100px;
  background-image: none;
  height: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

.u-section-1 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-5 {
  height: 17px;
  width: 17px;
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 100px;
  background-image: none;
  height: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px;
}

.u-section-1 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-1 .u-icon-6 {
  height: 17px;
  width: 17px;
}

.u-section-1 .u-accordion-pane-6 {
  min-height: 100px;
  background-image: none;
  height: auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px;
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 353px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 21px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 332px;
}

.u-section-2 .u-container-layout-1 {
  padding: 3px 30px 18px;
}

.u-section-2 .u-image-1 {
  --radius: 10px;
  width: 385px;
  height: 311px;
  margin: 18px auto -18px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 332px;
}

.u-section-2 .u-container-layout-2 {
  padding: 3px 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 93px 29px 0;
}

.u-section-2 .u-btn-1 {
  margin: 28px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 274px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 33px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 242px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 263px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 64px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 315px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 214px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 58px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 198px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 161px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 32px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 12px;
  }
}